#gisssaune-web {

    .single-project__next.aos-init.aos-animate {
        display: none;
    }

    .header__social {
        &.social {
            column-gap: 16px;

            .social__item {
                margin-inline: 0 !important;

                &:nth-child(1) {
                    order: 1;
                }

                &:nth-child(2) {
                    order: 0;
                }
            }
        }
    }

    .header__logo {
        font-weight: normal;
        color: #ffff;

        h2 {
            font-weight: normal;
            color: #ffff;
        }
    }

    .header--fixed {
        .header__logo {
            .logo h2 {
                color: #fff !important;
            }
        }
    }

    .round-button__circle {
        height: 300px;
        width: 300px;
    }

    .round-button__c {
        display: block;
        width: 40px;
        position: absolute;
        z-index: 1;
        transform: scale(1.5);
    }

    .round-button {
        background: #000;
    }

    .img-fluid {
        img {
            width: 100%;
            height: auto;
        }
    }

    .footer {
        background-color: #000000;
        color: #ffffff;

        .footer__copyright {
            color: #ffffff;
        }

        a {
            color: #ffffff;

            &:hover {
                text-decoration: underline;
            }
        }

        .footer__bottom {
            &:before {
                content: "";
                width: 100%;
                margin-bottom: 36px;
                border-top: solid 1px #ffffff;
            }
        }
    }

    .single-project {
        .single-project__hero-image {
            aspect-ratio: 16/9;
        }

        .single-project__img {
            overflow: hidden;

            img {
                margin: 0 auto;
                display: block;
                width: 100vw;
            }
        }
    }

    .video-container {
        video {
            display: block;
            margin: 0 auto;
            position: relative;
            width: 100%;
            height: auto;
            background: #000 no-repeat;
            background-size: cover;
            right: 0;
            left: 0;
            aspect-ratio: 16/9;
        }
    }

    &.homepage {
        background-color: #000;
        background-image: url('../img/GSVweb_Background_dk.jpg');

        .tooltip--theme-dark {
            opacity: 0.99;
            background-image: url('../img/GSVweb_Background_dk.jpg');
            background-repeat: no-repeat;
        }
    }

    &.the-services {
        background-color: #000000;

        main {
            background-color: #000000;

            h1 {
                color: #ffffff;
            }

        }

        .service-preview {
            cursor: default;
        }

        .service-preview__caption {
            text-transform: none;
        }

        .service-preview:hover .service-preview__caption,
        .service-preview:focus .service-preview__caption {
            color: #000000;
            background-color: #ffffff;
        }
    }

    &.the-projects {
        background-color: #f0f0f0 !important;

        .header__logo {
            h2 {
                color: #000000;
            }
        }

        .project-preview--elastic .project-preview__image img {
            background: #000;
        }
    }

    &.the-project {
        .header__logo h2 {
            color: #000000;
        }
    }

    &.the-contact {
        background-color: #cbcbcb !important;

        main {
            background-color: #cbcbcb;
        }

        header {
            &:not(.is-fixed) {
                .header__logo {
                    h2 {
                        color: #000;
                    }
                }
            }
        }

        .contact-section__map {
            height: 40px;
        }

        .contact-section__link {
            a {
                text-transform: none;
            }
        }
    }

    &.the-bio {
        background-color: #000000;

        main {
            background-color: #000000;

            h1,
            p {
                color: #ffffff;
            }

        }

        .about-us {
            h1 {
                font-size: 3rem;
                margin-top: 0;
            }

            p {
                font-size: 1.4rem;
            }

            .about-video-section__aside img {
                object-fit: contain;
                aspect-ratio: 16 / 1;
            }
        }
    }

    &.the-projects {

        .row {
            margin: 20px auto;
        }

        .header__logo {
            h2 {
                color: #000;
            }
        }

        .header {
            padding-inline: 0;

            &.is-fixed {
                .header__logo {
                    h2 {
                        color: #fff;
                    }
                }
            }
        }
    }


    &.cinetecamx {
        .single-project__hero-image {
            display: flex;
            align-items: flex-start;

            img {
                object-fit: contain;
                height: auto;
            }
        }
    }


    @media (max-width: 768px) {

        &.homepage {
                background-color: #000;
                background-image: url('../img/GSVweb_Background_mobile.jpg');
        
                .tooltip--theme-dark {
                    opacity: 0.99;
                    background-image: url('../img/GSVweb_Background_mobile.jpg');
                    background-repeat: no-repeat;
                }   
            }

        header {
            padding-inline: 0;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .tooltip__btn.round-button {
            position: relative;
            top: 0;
            left: 0;
            margin-top: 0;
            z-index: 1;
            margin: 0 auto;
        }

        &.the-services {
            .services {
                .article__container {
                    margin-top: 60px;
                }

                .service-preview__caption {
                    text-align: left;
                }
            }

        }

        &.the-bio {
            .about-us {
                .about-video-section__container {
                    margin-top: 60px;
                }

                .about-video-section__main>div>div {
                    margin: 0;
                    width: 100% !important;
                }

                .about-video-section__aside {
                    order: 1 !important;

                    img {
                        aspect-ratio: unset;
                    }
                }
            }
        }

        &.the-project {
            header {
                &.is-fixed {
                    .header__logo {
                        h2 {
                            color: #fff !important;
                        }
                    }
                }
            }

            .single-project {
                .single-project__hero-image {
                    aspect-ratio: auto;
                }
            }

            &.wndh {
                .single-project {
                    &__hero-image {
                        aspect-ratio: auto;

                        img {
                            display: block;
                            max-width: 100%;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }

            &.casiopea {
                .single-project {
                    &__hero-image {
                        aspect-ratio: unset;

                        img {
                            display: block;
                            max-width: 100%;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }

        footer {
            .footer__grid {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                padding: 20px 0;

                >span {
                    display: block;
                    clear: both;
                    flex: 0 0 100%;
                    max-width: 30%;
                    overflow: hidden;

                    img {
                        max-width: 100%;
                        height: auto;
                        transform: scale(3);
                    }
                }
            }

            .footer__bottom {
                .footer__copyright {
                    flex: 0 0 100%;
                    margin-bottom: 16px;

                    a {
                        width: 100%;
                        flex: 0 0 100%;
                        text-align: center;
                    }
                }
            }
        }
    }
}