#gisssaune-web .single-project__next.aos-init.aos-animate {
  display: none;
}
#gisssaune-web .header__social.social {
  column-gap: 16px;
}
#gisssaune-web .header__social.social .social__item {
  margin-inline: 0 !important;
}
#gisssaune-web .header__social.social .social__item:nth-child(1) {
  order: 1;
}
#gisssaune-web .header__social.social .social__item:nth-child(2) {
  order: 0;
}
#gisssaune-web .header__logo {
  font-weight: normal;
  color: #ffff;
}
#gisssaune-web .header__logo h2 {
  font-weight: normal;
  color: #ffff;
}
#gisssaune-web .header--fixed .header__logo .logo h2 {
  color: #fff !important;
}
#gisssaune-web .round-button__circle {
  height: 300px;
  width: 300px;
}
#gisssaune-web .round-button {
  background: #000;
}
#gisssaune-web .img-fluid img {
  width: 100%;
  height: auto;
}
#gisssaune-web .footer {
  background-color: #000000;
  color: #ffffff;
}
#gisssaune-web .footer .footer__copyright {
  color: #ffffff;
}
#gisssaune-web .footer a {
  color: #ffffff;
}
#gisssaune-web .footer a:hover {
  text-decoration: underline;
}
#gisssaune-web .footer .footer__bottom:before {
  content: "";
  width: 100%;
  margin-bottom: 36px;
  border-top: solid 1px #ffffff;
}
#gisssaune-web .single-project .single-project__hero-image {
  aspect-ratio: 16/9;
}
#gisssaune-web .single-project .single-project__img {
  overflow: hidden;
}
#gisssaune-web .single-project .single-project__img img {
  margin: 0 auto;
  display: block;
  width: 100vw;
}
#gisssaune-web .video-container video {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: auto;
  background: #000 no-repeat;
  background-size: cover;
  right: 0;
  left: 0;
  aspect-ratio: 16/9;
}
#gisssaune-web.homepage {
  background-color: #000;
  background-image: url('../img/GSV_bgHome.jpg');
}
#gisssaune-web.homepage .tooltip--theme-dark {
  opacity: 0.99;
  background-image: url('../img/GSV_bgHome_vd.jpg');
  background-repeat: no-repeat;
}
#gisssaune-web.the-services {
  background-color: #000000;
}
#gisssaune-web.the-services main {
  background-color: #000000;
}
#gisssaune-web.the-services main h1 {
  color: #ffffff;
}
#gisssaune-web.the-services .service-preview__caption {
  text-transform: none;
}
#gisssaune-web.the-services .service-preview:hover .service-preview__caption,
#gisssaune-web.the-services .service-preview:focus .service-preview__caption {
  color: #000000;
  background-color: #ffffff;
}
#gisssaune-web.the-projects {
  background-color: #f0f0f0 !important;
}
#gisssaune-web.the-projects .header__logo h2 {
  color: #000000;
}
#gisssaune-web.the-projects .project-preview--elastic .project-preview__image img {
  background: #000;
}
#gisssaune-web.the-contact {
  background-color: #cbcbcb !important;
}
#gisssaune-web.the-contact main {
  background-color: #cbcbcb;
}
#gisssaune-web.the-contact header:not(.is-fixed) .header__logo h2 {
  color: #000;
}
#gisssaune-web.the-contact .contact-section__map {
  height: 40px;
}
#gisssaune-web.the-contact .contact-section__link a {
  text-transform: none;
}
#gisssaune-web.the-bio {
  background-color: #000000;
}
#gisssaune-web.the-bio main {
  background-color: #000000;
}
#gisssaune-web.the-bio main h1,
#gisssaune-web.the-bio main p {
  color: #ffffff;
}
#gisssaune-web.the-bio .about-us h1 {
  font-size: 3rem;
  margin-top: 0;
}
#gisssaune-web.the-bio .about-us p {
  font-size: 1.4rem;
}
#gisssaune-web.the-bio .about-us .about-video-section__aside img {
  object-fit: contain;
  aspect-ratio: 16 / 1;
}
#gisssaune-web.the-projects .row {
  margin: 20px auto;
}
#gisssaune-web.the-projects .header__logo h2 {
  color: #000;
}
#gisssaune-web.the-projects .header.is-fixed .header__logo h2 {
  color: #fff;
}
#gisssaune-web.cinetecamx .single-project__hero-image {
  display: flex;
  align-items: flex-start;
}
#gisssaune-web.cinetecamx .single-project__hero-image img {
  object-fit: contain;
  height: auto;
}
@media (max-width: 768px) {
  #gisssaune-web .tooltip__btn.round-button {
    position: relative;
    top: 0;
    left: 0;
    margin-top: 0;
    z-index: 1;
    margin: 0 auto;
  }
  #gisssaune-web.the-services .services .article__container {
    margin-top: 60px;
  }
  #gisssaune-web.the-services .services .service-preview__caption {
    text-align: left;
  }
  #gisssaune-web.the-bio .about-us .about-video-section__container {
    margin-top: 60px;
  }
  #gisssaune-web.the-bio .about-us .about-video-section__main > div > div {
    margin: 0;
    width: 100% !important;
  }
  #gisssaune-web.the-bio .about-us .about-video-section__aside {
    order: 1 !important;
  }
  #gisssaune-web.the-bio .about-us .about-video-section__aside img {
    aspect-ratio: unset;
  }
  #gisssaune-web.the-project.wndh .single-project__hero-image img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #gisssaune-web.the-project.casiopea .single-project__hero-image {
    aspect-ratio: unset;
  }
  #gisssaune-web.the-project.casiopea .single-project__hero-image img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #gisssaune-web footer .footer__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
  }
  #gisssaune-web footer .footer__grid > span {
    display: block;
    clear: both;
    flex: 0 0 100%;
    max-width: 30%;
    overflow: hidden;
  }
  #gisssaune-web footer .footer__grid > span img {
    max-width: 100%;
    height: auto;
    transform: scale(3);
  }
  #gisssaune-web footer .footer__bottom .footer__copyright {
    flex: 0 0 100%;
    margin-bottom: 16px;
  }
  #gisssaune-web footer .footer__bottom .footer__copyright a {
    width: 100%;
    flex: 0 0 100%;
    text-align: center;
  }
}
