#gisssaune-web {

    .round-button {
        background: #ffffff;
    }

    .footer {
        background-color: #000000;
        color: #ffffff;

        .footer__copyright {
        	color: #ffffff;
        }

        a {
            color: #ffffff;

            &:hover {
                text-decoration: underline;
            }
        }

        .footer__bottom {
            &:before {
                content: "";
                width: 100%;
                margin-bottom: 36px;
                border-top: solid 1px #ffffff;
            }
        }
    }
}